.reveal .slides section[data-markdown] {
    margin-bottom:2em !important;
}

.reveal ul {
    display: block;
}

.reveal .reference  {
    position: absolute;
    bottom: -3em;
    right: 0;
    font-size: .5em;
}

